@import 'variables';

.flex{
  display: flex;
  &-1{
    flex: 1;
  }
  &-row {
    flex-direction: row;
    &-align-center {
      align-items: center;
    }
    &-center {
      justify-content: center;
    }
    &-around {
      justify-content: space-around;
    }
    &-between {
      justify-content: space-between;
    }
  }
  &-column {
    flex-direction: column;
  }
  &-end {
    align-items: flex-end;
  }
  &-start {
    align-items: flex-start;
  }
  &-align-center {
    align-items: center;
  }
  &-center {
    justify-content: center;
  }
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
}

$container-width: 1140px;
$grid-columns: 11;
$grid-space: 33px;
$grid-width: $container-width/$grid-columns;

.container {
  display: flex;
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
}
@for $c from 1 to $grid-columns {
  .col-#{$c} {
    // width: ($grid-width * $c) - (($grid-space * ($grid-columns - 1)) / $grid-columns);
    width: ($grid-width * $c) - $grid-space;
  }
}

[class^="col-"] + [class^="col-"] {
  margin-left: $grid-space;
}

#page.site {
  min-height: 100vh;
}

.site-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  justify-content: space-between;
}

.page-sidebar {
  margin-top: 4em;
}

.align-center {
  text-align: center;
}

.wp-block-vivipost-full-width,
.align-full {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

.wp-block-vivipost-full-width .container {
  flex-direction: column;
}

/*--------------------------------------------------------------
9.7 Scroll Up
--------------------------------------------------------------*/

#scrollup {
  display: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 7px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  width: 35px;
  height: 35px;
  z-index: 9999;
  &:hover,
  &:focus {
    text-decoration: none;
    .icon {
      fill: map-get($colors, 'red-light');
    }
  }
  .icon {
    font-size: 28px;
    font-size: 1.75rem;
    width: 22px;
    height: 22px;
    margin: 7px;
    fill: map-get($colors, 'red');
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
  }
}

.entry-footer {
  @extend .align-full;
  background-color: map-get($colors, 'dark');
  padding: 1em 0;
  .edit-link {
    @extend .container;
  }
  .post-edit-link {
    color: map-get($colors, 'yellow');
  }
}