body.home {
  
  .hero-title-vivipost {
    font-family: $font-family-display;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 54px;
  }
  
  .hero-subtitle-vivipost {
    font-size: 24px;
    line-height: 36px;
    color: map-get($colors, 'dark-lighter');
  }

  .hero-subtitle-button .wp-block-button__link {
    padding: 7px 48px;
    font-family: $font-family-display;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 35px;
    background-color: map-get($colors, 'orange-light');
    background: linear-gradient(180deg, map-get($colors, 'orange-light') 0%, map-get($colors, 'orange-dark') 100%);
  }

  .section-pink {
    margin-top: 120px;
    background: linear-gradient(225.51deg, map-get($colors, 'pink-light') 0%, map-get($colors, 'pink-dark') 100%);
    padding: 72px 0 96px;
    .container {
      > h4, > h2 {
        text-align: center;
        color: map-get($colors, 'white');
        font-family: $font-family-display;
      }
      > h4 {
        @extend .sub-title;
      }
      > h2 {
        @extend .title;
        margin-top: 18px;
        margin-bottom: 60px;
      
      }
    }
    .wp-block-columns {
      .wp-block-column {
        display: flex;
        background-color: map-get($colors, 'white');
        border-radius: 8px;
        padding: 35px;
        &:first-child {
          flex: 1;
        }
        & + .wp-block-column {
          flex: 3;
          padding: 35px 30px;
          flex-direction: column;
          justify-content: center;
        }
        ul {
          display: flex;
          flex: 1;
          width: 100%;
          flex-direction: column;
          max-height: 222px;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          li {
            max-width: calc(33% - 30px);
            color: map-get($colors, 'pink-dark');
            margin-left: 30px;
            font-size: 14px;
            line-height: 18px;
            display: block;
            position: relative;
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: 0px;
          }
            &::after {
              content: "✔";
              content: "";
              position: absolute;
              top: 2px;
              left: -24px;
              color: map-get($colors, 'white');
              background-image: url('dist/images/check.svg');
              width: 14px;
              height: 10px;
            }
          }
        }
        .wp-block-image {
          margin: 0;
          img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            display: block;
          }
        }
      }
    }
  }

  .title-solutions {
    color: map-get($colors, 'pink-dark');
    margin: 96px 0 72px;
  }

  .solutions {
    .wp-block-columns {
      .wp-block-column:first-child {
        flex: none;
      }
      .wp-block-column:not(:first-child) {
        flex: 1;
        h2 {
          margin: 0 0 8px;
          font-size: 24px;
          text-transform: uppercase;
          font-family: $font-family-display;
          font-weight: 900;
        }
        p {
          font-size: 18px;
          line-height: 24px;
          color: map-get($colors, 'dark-lighter');
        }
      }
    }
  }

  .wp-block-separator {
    margin-top: 120px;
    margin-bottom: 120px;
    border-color: transparent;
    border-width: 1px 0 0 0;
    background: none;
    color: transparent;
    height: 0px;
    background: map-get($colors, 'dark-lighter');
    @extend .align-full;
  }

  .where-can-i-use {
    background-color: map-get($colors, 'pink-lighter');
    padding: 120px 0;
    .title, .sub-title {
      text-align: center;
    }
    .sub-title {
      margin-top: 0;
      color: map-get($colors, 'dark-light');
    }
    .wp-block-columns {
      .wp-block-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 24px 24px;
        border-radius: 8px;
        background: map-get($colors, 'white');
        box-shadow: 0 4px 12px 0 rgba(218,24,132,0.12);
        h2 {
          font-family: $font-family-display;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 24px;
          margin: 24px 0 12px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          margin: 12px 0 48px;
          text-align: center;
        }
        .wp-block-button {
          display: flex;
          flex: 1;
          align-items: flex-end;
          .wp-block-button__link {
            color: map-get($colors, 'white');
            font-family: $font-family-display;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            line-height: 24px;
            text-align: center;
            padding: 7px 48px;
          }
        }
      }
    }
  }

  .use-vivipost-title {
    margin: 120px 0 70px;
  }
  .use-vivipost {
    padding-bottom: 120px;
    .wp-block-columns {
      counter-reset: steps-number;
    }
    .wp-block-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      counter-increment: steps-number;
      &::before {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        content: counter(steps-number);
        background-color: map-get($colors, 'magenta');
        color: map-get($colors, 'white');
        font-size: 24px;
        font-family: $font-family-display;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        display: block;
        margin: 16px auto 20px;
        height: 120px;
        max-width: 120px;
      }
      figcaption {
        display: block;
        padding: 0 30px;
        margin: 20px auto 0;
        font-size: 14px;
        line-height: 20px;
        color: map-get($colors, 'dark-lighter');
      }
    }
  }

  .benefits {
    background-color: map-get($colors, 'pink-lighter');
    padding: 120px 0;
    .title, .sub-title {
      text-align: center;
    }
    .sub-title {
      margin-top: 0;
      color: map-get($colors, 'dark-light');
    }
    .wp-block-columns {
      .wp-block-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 24px 20px;
        border-radius: 8px;
        background: map-get($colors, 'white');
        box-shadow: 0 4px 12px 0 rgba(218,24,132,0.12);
        h2 {
          font-family: $font-family-display;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 24px;
          margin: 24px 0 12px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          margin: 12px 0 12px;
          text-align: center;
        }
      }
    }
  }

  .contact-form {
    background-color: map-get($colors, 'blue-light');
    color: map-get($colors, 'white');
    padding: 80px 0 120px;

    .title {
      line-height: 54px;
      a {
        color: map-get($colors, 'white');
        &:hover {
          color: map-get($colors, 'blue-lighter');
        }
      }
    }
    
    label {
      color: map-get($colors, 'blue-lighter');
      font-size: 14px;
      margin-bottom: 12px;
    }

    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      > p {
        width: 100%;
        &:not(:first-of-type):not(:last-of-type):not(:nth-last-of-type(2)) {
          width: calc(100% / 3);
        }
      }
    }

    .wpcf7-form-control {
      
      &.wpcf7-text, &.wpcf7-textarea {
        border: none;
        color: map-get($colors, 'white');
        border-bottom: 4px solid map-get($colors, 'blue-dark');
        background-color: transparent;
        padding: 8px 0px;
        outline: none;
      }

      &.wpcf7-textarea {
        min-height: 80px;
        max-height: 80px;
        resize: none;
      }

      &.wpcf7-submit {
        display: flex;
        flex: 1;
        align-items: flex-end;
        border: none;
        border-radius: 38px;
        background-color: map-get($colors, 'orange-button');
        color: map-get($colors, 'white');
        font-family: $font-family-display;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        padding: 8px 36px;
        outline: none;
      }
    }
    .wpcf7-form-control-wrap {
      .wpcf7-not-valid-tip {
        color: map-get($colors, 'yellow');
        margin-top: 4px;
        padding: 1px 4px;
        font-size: 12px;
      }
    }
    .wpcf7-response-output {
      margin: 0;
      display: block;
      position: absolute;
      bottom: 110px;
      left: calc(100%/3);
      padding: 3px 4px;
      border: none;
    }
    div.wpcf7-validation-errors {
      color: map-get($colors, 'yellow');
    }
  }
  .wpcf7.ajax-loader {

  }
}
