/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.site-title {
  margin: 0;
  img.custom-logo {
    width: 120px;
    height: 66px;
  }
  a {
    color: inherit;
    text-indent: 0;
  }
}

.site-header {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.site-header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-branding {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 6;
  padding: 96px 0 84px;
}